<div class="login">
  <img class="image-logo" src="../../../../assets/images/logo-coco-bambu.png">
  <div class="card login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <img class="input-group-text" src="../../../../assets/images/icon-login.png">
          </div>
          <input type="text" class="form-control" name="userName" id="userName" formControlName="userName"
            placeholder="Nome do usuário">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <img class="input-group-text" src="../../../../assets/images/icon-key.png">
          </div>
          <input type="password" class="form-control" name="name" id="password" formControlName="password"
            placeholder="Senha">
        </div>
      </div>
      <input type="submit" class="btn btn-warning mt-3 access-button" value="Acessar">
    </form>
  </div>
</div>