<div class="list-group-item d-flex flex-row d-flex justify-content-between">
  <div class="div-image">
    <img src="{{url}}/{{recipe.image.normal}}" alt="{{recipe.name}}" class="image">
  </div>
  <div class="div-recipe d-flex flex-column justify-content-center">
    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <div class="div-buttons d-flex flex-row justify-content-center align-items-center">
    <button class="btn btn-secondary btn-circle btn-xl">Hoje 19:32</button>
    <button class="btn btn-warning btn-circle btn-xl" [routerLink]="['/receitas', recipe.id]" [state]=recipe>Ver
      receita</button>
  </div>
</div>