.div-image {
  width: 22%;
  height: auto;
}

.image {
  width: 100%;
  height: 100%;
}

.div-recipe{
  height: 100%;
  width: 70%;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
}

button {
  margin-left: 5px;
}

.badge {
  height: 70px;
  width: 70px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; 
  background: grey;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  font-size: 16px;
  border-radius: 35px;
  color: white;
}
