<div class="recipe-detail-header" [ngStyle]="{'background-image': 'url(' + url +  '/' + recipe.image.normal + ')'}">
  <div class="back-button d-flex">
    <a [routerLink]="['/receitas']">
      <div>
        <img class="image" src="../../../../../assets/images/icon-back.png" />
        <p>Voltar</p>
      </div>
    </a>
  </div>
  <div class="time-prepare d-flex justify-content-end">
    <img class="image" src="../../../../../assets/images/icon-time.png" />
    <div class="time-prepare-detail d-flex flex-column align-items-center justify-content-center">
      <p>Tempo de preparo</p>
      <p class="time-prepare-detail-minutes">{{recipe.minutesToPrepare}} minutos</p>
    </div>
  </div>
  <div class=" info d-flex flex-column justify-content-end">
    <h1>{{recipe.name}}</h1>
    <p>{{recipe.description}}</p>
  </div>
</div>