.recipe-detail-header {
  width:100%;
  height:500px;
  background: url('http://localhost:3003/prato-arroz-grande.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  color: white;
}