<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="navbar-brand" src="../../../../assets/images/logo-coco-bambu-mini.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex w-100">
        <div class="col-xs-4 w-100">
          <input class="form-control me-2" type="search" name="search-input" placeholder="Buscar receita"
            aria-label="Buscar receita" [(ngModel)]="searchText" (input)="onSubmitSearch()">
        </div>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/receitas']">
            <fa-icon [icon]="faUtensils" class="icon"></fa-icon>
            <h6>Pedidos</h6>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/receitas']">
            <fa-icon [icon]="faList" class="icon"></fa-icon>
            <h6>Receitas</h6>
          </a>
        </li>
        <li class="nav-item" (click)="logout()">
          <a class="nav-link active" aria-current="page" [routerLink]="['/receitas']">
            <fa-icon [icon]="faUser" class="icon"></fa-icon>
            <h6>Sair</h6>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>