div {
  background-color: rgb(167, 167, 167);
  padding: 10px;
}

div img {
  width: 70px;
}

div ul {
  float: right;
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding: 10px;
}

li a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}